/*Parece que solo funciona de esta manera la clase, sin quitarle las letras
de "material-icons" o de "md" (Esto en los dos grupos de clase de medida y en el
coloreado de los elementos activos e inactivos que hay escritos aquí)*/

/*Primer tipo de medidas que maneja Materialize (Este ancla mas con su semantica)*/
.material-icons.tiny {font-size: 1rem;}
.material-icons.small {font-size: 2rem;}
.material-icons.medium {font-size: 4rem;}
.material-icons.large {font-size: 6rem;}

/*Segundo tipo de medidas que maneja Materialize*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/*Colorear lo elementos activos e inactivos*/
.md-activo { color: #00bfa5; }
.md-inactivo { color: #004d40; }

@font-face {
  font-family: aristaalternatelight;
  src: url(../fonts/aristaalternatelight.ttf);
}

@font-face {
  font-family: aristaalternatefull;
  src: url(../fonts/aristaalternatefull.ttf);
}
@font-face {
  font-family: bougan;
  src: url(../fonts/bougan.ttf);
}

.centrado-vertical-padre {
  display: flex!important;
}

.centrado-vertical-hijo-grupo {
  display: flex!important;
  justify-content: center!important;
  flex-direction: column!important;
}

.centrado-vertical-hijo-repartido {
  display: flex!important;
  justify-content: space-around!important;
  flex-direction: column!important;
}

.centrado-horizontal{
  margin:0 auto!important;
  text-align: center!important;
}

.justify-align{
  text-align: justify!important;
}

body{
  background: #00695c;
}

.brand-logo{
  font-family: aristaalternatefull;
  font-size: 25px!important;
}

.sombra:hover{
  text-shadow: 0 0 10px black!important;
  color:#4db6ac!important;
}

.brand-logo img{
  vertical-align: middle;
}

nav{
  line-height: 50px;
}

nav .brand-logo.center{
  width: 250px;
}

.slogan{
  font-family: aristaalternatelight;
  font-size: 20px!important;
  letter-spacing: 5px;
}

.dropdown-content i{
  margin: 0 auto!important;
}

section{
  margin-top: 30px!important;
}

.padding-section{
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}

.centrado-horizontal-section{
  margin: 0 auto;
  padding: 5px;
}

.card-title, .tipo{
  font-family: aristaalternatelight;
}

.card-content .justify-align{
  font-family: bougan;
}

.sombra-img:hover{
  box-shadow: 0 4px 4px 0 #00695c;
}

.apilado img{
  margin: 10px;
  opacity: 0.5;
}

.apilado img:hover{
  opacity: 1;
}

#sidenav-overlay{
  z-index: -1;
}

.side-nav{
  background: #00bfa5;
}

.padding-campodeentrada{
  padding-left: 10px;
  padding-right: 10px;
}

.padding-campodeentrada label{
  color: white;
}

.input-field input[type=text]:focus + label {
     color: #00695c!important;
   }

.input-field input[type=text]:focus {
 border-bottom: 1px solid #00695c!important;
}

.input-field .prefix.active {
  color: #00695c!important;
}

.margin-bottom-fila{
  margin-bottom: 0;
}

.padding-top-contenido{
  padding-top: 8px!important;
}

.margin-fila-escondida{
  margin-left: 2px!important;
  margin-right: 2px!important;
}

.alineado-compartir {
  text-align: center!important;
}

.display-compartir {
  display: inline-block;
  font-size: 10px;
}

.opacidad{
  opacity:0.5!important;
}

.opacidad:hover{
  opacity:1!important;
}

.tamaño-p{
 font-size: 10px;
}

.padding-modal-content{
  padding: 0!important;
}

.padding-modal-content h5{
  margin: 0!important;
}

.padding-boton a{
  padding-left: 12px!important;
  padding-right: 12px!important;
}

.padding-inferior-modal{
  padding-bottom: 0!important;
}

.color-copyright{
  color: #004d40!important;
}

footer i{
  vertical-align: middle;
}

.liga-bold:hover{
  font-weight: bold;
}

.padding-comentarios{
  padding-bottom: 10px!important;
}

textarea{
  margin-bottom: 0!important;
}

@media (min-width: 992px) {
  nav{
    line-height: 64px!important;
  }
  .query-vertical {
    display: flex!important;
  }
  .apilado img {
    display: block;
    margin: auto;
  }
  .apilado {
    display: flex!important;
    justify-content: space-around!important;
    flex-direction: column!important;
  }
  .quitar-padding {
    padding: 0!important;
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  .query-vertical {
    display: flex!important;
  }
  .apilado img{
    display: block;
    margin: auto;
  }
  .apilado {
    display: flex!important;
    justify-content: space-around!important;
    flex-direction: column!important;
  }
  .quitar-padding {
    padding: 0!important;
  }
}

@media (max-width:600px) {
  .apilado{
    display: flex!important;
    justify-content: space-around!important;
  }
  .apilado a img{
      float: left!important;
  }
  .padding-inferior-smartphone{
      padding-bottom: 10px!important;
  }
}

/* Media Query para el centrado total del logo del Nav */
@media only screen and (min-width: 601px){
  nav{
    line-height: 60px;
  }
}
